
Django==3.2
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.5
django-session-timeout==0.1.0
Pillow
python-decouple==3.4
requests==2.25.1
easy-thumbnails
django-filer==2.2.4
gunicorn
whitenoise